<div style="background-image:url(http://www.legendarycollegian.com/wp-content/uploads/2013/09/bigstock-Berries-on-Wooden-Background-42586828.jpg);height:400px;color:black;margin-top:-20px">
  <div class="home">
      <h1>Welcome to NutriStore!</h1>
    <% if logged_in? %>
      Nice to see you again, <%= current_user.name.titleize %>!
    <% else %>
      <%= link_to 'Log in', login_path %> to get started!
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-4 left">
    <h3><span class="glyphicon glyphicon-heart-empty"></span> Healthy Hearts!</h3>
    Keeping track of your daily macro intakes will help you lead yourself to more balanced eating habits and healthier hearts!
  </div>
  <div class="col-md-4 middle">
    <h3><span class="glyphicon glyphicon-scale"></span> Goals</h3>
    Meet your daily, weekly, and monthly nutrition goals and make adjustments on the fly if you falter!
  </div>
  <div class="col-md-4 right">
    <h3><span class="glyphicon glyphicon-sunglasses"></span> So cool</h3>
    Using our app is cool. Super cool. Like, only cool people use it. You want to be cool, don't you?
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <img src="http://i.imgur.com/U9AZN1N.png" class="eddie img-circle">
    <h4 class="description">"NutriStore really works! I was having trouble attracting girls because I was massively overweight and had a terrible personality. Now I just have a terrible personality. Thanks, NutriStore!"</h4><br>
    <h4 class="center">- Eddie Jung</h4>
  </div>
  <div class="col-md-6">
    <img src="http://imgur.com/qgrgpZh.png" class="phil img-circle">
    <h4 class="description">"I took on NutriStore because I needed to gain weight but I just ended up staying skinny. My mom said that was a success so.."</h4><br>
    <h4 class="center">- Philippe Luchansky</h4>
  </div>
</div>
